## Build outputs
**/bin/
**/obj/

## IDE
.vs/
*.user
*.suo

## OS
Thumbs.db
Desktop.ini
.DS_Store

## NuGet
*.nupkg

## Wiki
MiniPdf.wiki/
/book

## Book
dotnet_ai_azure_book/

## Script outputs
v3/tests/MiniPdf.Scripts/output/
v3/tests/MiniPdf.Scripts/pdf_output/

## Benchmark
v3/tests/MiniPdf.Benchmark/reference_pdfs/
v3/tests/MiniPdf.Benchmark/__pycache__/
/v3/tests/MiniPdf.Scripts/output_docx
/v3/tests/MiniPdf.Scripts/pdf_output_docx
/v3/tests/MiniPdf.Benchmark/reference_pdfs_docx
