## Build outputs
**/bin/
**/obj/

## IDE
.vs/
*.user
*.suo

## OS
Thumbs.db
Desktop.ini
.DS_Store
~$*

## NuGet
*.nupkg

## Wiki
MiniPdf.wiki/
/book

## Book
dotnet_ai_azure_book/

## Script outputs
tests/MiniPdf.Scripts/output/
tests/MiniPdf.Scripts/pdf_output/

## Benchmark
tests/MiniPdf.Benchmark/reference_pdfs/
tests/MiniPdf.Benchmark/__pycache__/
/tests/MiniPdf.Scripts/output_docx
/tests/MiniPdf.Scripts/pdf_output_docx
/tests/MiniPdf.Benchmark/reference_pdfs_docx
/tests/MiniPdf.Benchmark/reference_pdfs
/tests/MiniPdf.Benchmark/office_pdfs
/tests/MiniPdf.Benchmark/office_pdfs_docx
tests/MiniPdf.Scripts/pdf_test_single/docx_classic01_single_paragraph.pdf
MiniPdf.Web/publish.zip
MiniPdf.Web/MiniPdf.Web.Client/wwwroot/fonts/
/tests/MiniPdf.Scripts/pdf_output_baseline
/tests/MiniPdf.Benchmark/minipdf_docx
